<a href="https://colab.research.google.com/github/esheshka/team_one_project/blob/main/%D0%A7%D1%82%D0%BE_%D1%82%D0%BE_%D0%B7%D0%B0%D1%87%D0%B5%D0%BC_%D1%82%D0%BE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Imports**

In [4]:
from google.colab import drive; drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
!pip -q install --upgrade --force-reinstall --no-deps kaggle > log  # upgrade kaggle package (to avoid a warning)
!mkdir -p ~/.kaggle                                           # .kaggle folder must contain kaggle.json for kaggle executable to properly authenticate you to Kaggle.com
!cp /content/drive/MyDrive/kaggle.json ~/.kaggle/kaggle.json >log  # First, download kaggle.json from kaggle.com (in Account page) and place it in the root of mounted Google Drive
!cp kaggle.json ~/.kaggle/kaggle.json > log                   # Alternative location of kaggle.json (without a connection to Google Drive)
!chmod 600 ~/.kaggle/kaggle.json                              # give only the owner full read/write access to kaggle.json
!kaggle config set -n competition -v 26jun23                  # set the competition context for the next few kaggle API calls. !kaggle config view - shows current settings
!kaggle competitions download >> log                          # download competition dataset as a zip file
!unzip -o *.zip >> log                                        # Kaggle dataset is copied as a single file and needs to be unzipped.
!kaggle competitions leaderboard --show                       # print public leaderboard

- competition is now set to: 26jun23
Using competition: 26jun23
  teamId  teamName                   submissionDate       score
--------  -------------------------  -------------------  -------
10612695  Ne1tr0N                    2023-06-27 15:03:47  0.86489
10605413  üí≥baseline,LR:$Stat+MCCEnc  2023-06-25 18:15:10  0.53220

In [6]:
%%time
%%capture
%reset -f
!pip install -U sentence-transformers tfds-nightly tensorflow tensorflow_addons plotly > log
from IPython.core.interactiveshell import InteractiveShell as IS; IS.ast_node_interactivity = "all"  # allows multiple prints from a cell
import numpy as np, pandas as pd, time, matplotlib.pyplot as plt, os, plotly.express as px, xgboost as xgb, lightgbm, re, tensorflow as tf, tensorflow.keras as keras
from sklearn.preprocessing import MinMaxScaler, PolynomialFeatures
from sklearn.model_selection import train_test_split, GroupKFold
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import roc_auc_score
from sklearn.decomposition import PCA
from sklearn.neural_network import MLPClassifier   # SKLearn's MLP is optimised for CPU (and doesn't use GPU)
from sentence_transformers import SentenceTransformer as SBERT
from keras.layers import Flatten, Dense

os.environ['TF_DETERMINISTIC_OPS'] = '1'; os.environ['TF_CUDNN_DETERMINISTIC'] = '1'   # helps to seed TF's RNG on GPUs
np.set_printoptions(linewidth=10000, precision=2, edgeitems=20, suppress=True)
pd.set_option('display.max_colwidth', 100, 'display.max_columns', 10, 'display.width', 1000, 'display.max_rows', 8)

class Timer():
  def __init__(self, lim:'RunTimeLimit'=60*2): self.t0, self.lim, _ = time.time(), lim, print(f'‚è≥ started. You have {lim} sec. Good luck!')
  def ShowTime(self):
    msg = f'Runtime is {time.time()-self.t0:.0f} sec'
    print(f'\033[91m\033[1m' + msg + f' > {self.lim} sec limit!!!\033[0m' if (time.time()-self.t0-1) > self.lim else msg)

CPU times: user 9.79 s, sys: 1.51 s, total: 11.3 s
Wall time: 1min 27s

In [8]:
#@title MCC
%time mcc = pd.read_csv('_mcc.csv', index_col='mcc'); mcc  # load merchant category codes (MCC)

CPU times: user 14.3 ms, sys: 0 ns, total: 14.3 ms
Wall time: 42.8 ms

                                                                            desc
mcc
0                                                            –í–µ—Ç–µ—Ä–∏–Ω–∞—Ä–Ω—ã–µ —É—Å–ª—É–≥–∏
1            –ì–µ–Ω–µ—Ä–∞–ª—å–Ω—ã–µ –ø–æ–¥—Ä—è–¥—á–∏–∫–∏ –ø–æ –≤–µ–Ω—Ç–∏–ª—è—Ü–∏–∏, —Ç–µ–ø–ª–æ—Å–Ω–∞–±–∂–µ–Ω–∏—é, –∏ –≤–æ–¥–æ–ø—Ä–æ–≤–æ–¥—É
2                                                    –ü–æ–¥—Ä—è–¥—á–∏–∫–∏ –ø–æ —ç–ª–µ–∫—Ç—Ä–∏—á–µ—Å—Ç–≤—É
3    –ü–æ–¥—Ä—è–¥—á–∏–∫–∏, —Å–ø–µ—Ü–∏–∞–ª–∏–∑–∏—Ä–æ–≤–∞–Ω–Ω–∞—è —Ç–æ—Ä–≥–æ–≤–ª—è ‚Äî –Ω–∏–≥–¥–µ –±–æ–ª–µ–µ –Ω–µ –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä–æ–≤–∞–Ω–Ω—ã–µ
..                                                                           ...
180                                                                       –®—Ç—Ä–∞—Ñ—ã
181                                                            –ù–∞–ª–æ–≥–æ–≤—ã–µ –ø–ª–∞—Ç–µ–∂–∏
182                    –ü—Ä–∞–≤–∏—Ç–µ–ª—å—Å—Ç–≤–µ–Ω–Ω—ã–µ —É—Å–ª—É–≥–∏, –Ω–∏–≥–¥–µ —Ä–∞–Ω–µ–µ –Ω–µ –∫–ª–∞—Å—Å–∏—Ñ–∏—Ü–∏—Ä—É–µ–º—ã–µ
183                                       –ü–æ—á—Ç–æ–≤—ã–µ —É—Å–ª—É–≥–∏ ‚Äî —Ç–æ–ª—å–∫–æ –ø—Ä–∞–≤–∏—Ç–µ–ª—å—Å—Ç–≤–æ

[184 rows x 1 columns]

In [12]:
#@title TTC
%time ttc = pd.read_csv('_ttc.csv', index_col='ttc'); ttc  # load transaction type codes (TTC)

CPU times: user 4.53 ms, sys: 0 ns, total: 4.53 ms
Wall time: 6.46 ms

                                                                                                    desc
ttc
0                                                                                       –ü–æ–∫—É–ø–∫–∞.–¢–£ –°–ë –†–§
1                                                                                  –ü–æ–∫—É–ø–∫–∞. POS –¢–£ –°–ë –†–§
2                                                                         –û–ø–ª–∞—Ç–∞ —É—Å–ª—É–≥–∏. –ë–∞–Ω–∫–æ–º–∞—Ç—ã –°–ë –†–§
3                                                                                    –ü–æ–∫—É–ø–∫–∞. –¢–£  –†–æ—Å—Å–∏—è
..                                                                                                   ...
151                                                                      –ü–ª–∞—Ç–∞ –∑–∞ –ø—Ä–∏–æ—Å—Ç. –¥–µ–π—Å—Ç–≤–∏—è –∫–∞—Ä—Ç—ã
152  –ü–ª–∞—Ç–∞ –∑–∞ –æ–±—Ä–∞–±–æ—Ç–∫—É —Å—á–µ—Ç–∞ –±–∞–Ω–∫–æ–≤—Å–∫–æ–π –∫–∞—Ä—Ç—ã –∫–ª–∏–µ–Ω—Ç–∞ –ø—Ä–∏ –æ—Å—É—â. –ø–ª–∞—Ç–µ–∂–Ω–æ–π —Å–∏—Å—Ç–µ–º–æ–π —ç–∫—Å—Ç—Ä–µ–Ω–Ω–æ–π –≤—ã–¥–∞—á–∏...
153                           –ü–ª–∞—Ç–∞ –∑–∞ –ø—Ä–µ–¥–æ—Å—Ç–∞–≤–ª–µ–Ω–∏–µ –ø–æ –∑–∞–ø—Ä–æ—Å—É –∫–ª–∏–µ–Ω—Ç–∞ –¥–æ–∫—É–º–µ–Ω—Ç–æ–≤ –ø–æ –æ–ø–µ—Ä–∞—Ü–∏–∏ —Å –∫–∞—Ä—Ç–æ–π
154                                                                                                  XXX

[155 rows x 1 columns]

In [145]:
#@title Gender
%time gender = pd.read_csv('gender.csv', index_col='cid'); gender.T  # load gender labels. you need to predict the missing labels
trainY, testY = gender.query('gender==gender'), gender.query('gender!=gender')  # split into Train and test (=Validation) targets

CPU times: user 7.51 ms, sys: 0 ns, total: 7.51 ms
Wall time: 12 ms

cid     0     1     2     3     4     5     6     7     8     9     ...  8390  8391  8392  8393  8394  8395  8396  8397  8398  8399
gender   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  ...   1.0   1.0   0.0   0.0   0.0   0.0   0.0   1.0   0.0   0.0

[1 rows x 8400 columns]

In [13]:
#@title TRX
%time dfTrx = pd.read_csv('trx.csv').sort_values(['cid','dt','tm']); dfTrx  # load bank card's transactions. Ensure ordered CID

CPU times: user 9.96 s, sys: 2.41 s, total: 12.4 s
Wall time: 13.3 s

          cid   dt        tm     amt  mcc  ttc       tid
0           0    1  00:00:00   -1305   56    4       NaN
1           0    1  00:00:00   -4821   56    4       NaN
2           0    2  22:48:17  -56156   22   37       NaN
3           0    3  00:00:00   -3708   56    4       NaN
...       ...  ...       ...     ...  ...  ...       ...
3749574  8399  450  00:00:00  -43831   56    4  PS026577
3749575  8399  456  17:21:07   89833  123  128    888917
3749576  8399  456  18:59:26  247062  124  108    738051
3749577  8399  456  19:01:21 -336874   22   25    738051

[3749578 rows x 7 columns]

In [14]:
df_ = gender.drop('gender', axis=1); df_.T  # a list of ordered client IDs (as index)

Empty DataFrame
Columns: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]
Index: []

[0 rows x 8400 columns]

In [15]:
pd.set_option('display.max_colwidth', 100, 'display.max_columns', 20, 'display.width', 1000, 'display.max_rows', 10)
tmr = Timer() # runtime limit (in seconds). Add all of your code after the timer

‚è≥ started. You have 120 sec. Good luck!

# **My Code**

In [140]:
mcc_by_cid = dfTrx[['cid', 'mcc']].drop_duplicates().astype('str').groupby('cid').agg({'mcc': ' '.join}).sort_values('cid')
sum_amt_by_cid = dfTrx[['cid', 'amt']].groupby('cid').agg('sum')

In [141]:
large_count = dfTrx[['cid', 'mcc']].drop_duplicates().groupby('mcc').agg({'cid': 'size'}).sort_values(by = 'cid')
large_sum = dfTrx[['amt', 'mcc']].groupby('mcc').agg('sum').sort_values(by = 'amt')
most_popular_mcc = set(large_count[large_count.cid > 2000].index.to_list()) | set(large_sum[large_sum.amt < -1000000000].index.to_list()) | set([123, 125, 130])
len(most_popular_mcc)

31

In [142]:
#@title –ù–∞—á–∞–ª–æ —Å–æ–∑–¥–∞–Ω–∏—è df –ø–æ cid

df = df_.copy(deep=True)
for mcc_index in most_popular_mcc:
    sum_amt_by_cid_and_mcc = dfTrx[dfTrx.mcc == mcc_index][['cid', 'amt']].groupby('cid').agg({'amt': 'sum'}).sort_values(by = 'cid')
    df = df.join(sum_amt_by_cid_and_mcc.amt, on = 'cid', how='left').rename(columns = {'amt': str(mcc_index)})
df = df.fillna(0).astype('int')

# **–û–±—É—á–µ–Ω–∏–µ**

In [166]:
%%time
trainX, testX = df.join(trainY.drop('gender', axis=1), how='inner'), df.join(testY.drop('gender', axis=1), how='inner') # split observations into train/test
trainX0, testX0, trainY0, testY0 = train_test_split(trainX, trainY, test_size=0.3, random_state=0) # split train observation into local train/test sets (to score performance)
model = LR(random_state=0, n_jobs=-1, max_iter=1000)                             # always seed your experiments for reproducibility

print('Local AUC ROC', roc_auc_score(testY0.gender, model.fit(trainX0, trainY0.gender).predict_proba(testX0)[:, 1]))       # fit the model and show test error

Local AUC ROC 0.5
CPU times: user 52.6 ms, sys: 6.25 ms, total: 58.8 ms
Wall time: 2.3 s